.headline
  margin-bottom 30px

  &__title
    font-size responsive 40px 72px
    line-height: 1

    &--red
      color red

  &__subtitle
    color gray
    font-size responsive 30px 22px
    line-height: 1
    font-weight 300

.head-border
  border 3px solid gray
  display inline-block
  border-radius: 3px
  margin 30px 15px 30px 0

  &--l
    width 180px

  &--m
    width 90px

  &--s
    width 45px
